.menu{
    &__header{
        display: flex;
       
        align-items: center;
        &__a{
            margin: 0px $marginH 0px $marginH;
            position: absolute;
        }
        
        &__h1{
            display: flex;
            width: 100%;
            justify-content: center;
            
        }
    }

    &__photo{
      position: relative;
    
        &__imgcontainer{
           width: 100%;   
           height: $imgheight;
           @include tablet{
               height: 1.5*$imgheight;
           }
            
            &__img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__nom{
            position: absolute;
            left:0px;
            right:0px;
            bottom:0px;
            display: flex;
            width: auto;
            justify-content: space-between;
            align-items: center;
            border-radius: $radiusH1 $radiusH1 0px 0px;
            padding: 0px $marginV 0px $marginV;            
            /*icone like gérée dans "vignette.scss"*/
            @include tablet{
                justify-content: center;
            }

            &__h2{
             @include right-spacing-marginH;
             @include tablet{
                 margin-right: 3*$marginV;
             }
            }
            
        }
    }

    &__main{
        padding-top: 0px $marginV $marginV $marginV;
        &__btncontainer{
            display: flex;
            width: 100%;
            justify-content: center;
            
        }
      
    
    /*menu__main__menu__section__course__h3*/
        &__menu{
            &__section{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include bottom-spacing-marginV;
                /*
                :nth-child(2){
                    animation-delay: 0s;
                }
                :nth-child(3){
                    animation-delay: 0.2s;
                }:nth-child(4){
                    animation-delay: 0.4s;
                }
                */

                /*
                :nth-child(2){
                    animation: article 2*$trans-menu-time 0s ease-in-out forwards;
                }

                :nth-child(3){
                    animation: article 2*$trans-menu-time 0.2s ease-in-out forwards;
                }

                :nth-child(4){
                    animation: article 2*$trans-menu-time 0.4s ease-in-out forwards;
                }

                */




                &__title-container{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    &__h3{
                        margin-top: 0px;
                        padding-bottom: $marginV*0.1; 
                        width: $traitlenght;
                        border-bottom: 4px solid $colour-tertiary;
                        margin-bottom: 5px;
                                          
                    }
                    
                    &__trait{
                        display: none;
                        height:1px;
                        width: $traitlenght;
                        border-bottom: 4px solid $colour-tertiary;
                    }
                }

            
                    &__article{
                        background: $colour-white;
                        border-radius: $vignradius*0.5;
                        display: flex;
                        width: 100%;
                        height: $article--height;
                        justify-content: space-between;
                        align-items: center; 
                        overflow: hidden;
                        position: relative;
                        @include shadow;
                        @include top-spacing-marginV;
                        @include bottom-spacing-marginV;
                       // transform: scaleY($article--scaleY);
                        opacity: 1;
                        transform-origin: top;                                         
                      //  animation: article 2*$trans-menu-time ease-in-out forwards;
                        
                        
                                                               
                        
                            &:hover > &__end{
                                animation: translate-left 0.8*$trans-menu-time 0s ease-in-out 1 forwards;
                                i{
                                animation: spinner--rotation 0.8*$trans-menu-time /*0s*/ 0.25*$trans-menu-time ease-in-out 1 forwards;
                                } 
                            }
                            
                            &:hover{
                                .menu__main__menu__section__article__txt{
                                    animation: narrow-txt 0.8*$trans-menu-time 0s ease-in-out 1 forwards;

                                }
                            }
                            
                            
                            
                         &__txt{
                            display: flex;
                            flex-wrap: wrap;
                           // border: 1px solid blue;                                    
                           justify-content: flex-start;
                            align-items: center;
                            width: calc(100% - 145px);
                            @include ellipsis;
                            animation: widen-txt $trans-menu-time 0s ease-in-out forwards;
                            @include left-spacing-marginH;
                         /*pourquoi ça ne marche pas?*/
                       // animation: narrow-txt $trans-menu-time 0s ease-in-out reverse forwards;
                           
                            &__h4{
                            @include ellipsis;
                            margin-top: $marginV*0.3;
                            margin-bottom: $marginV*0.3;
                            width: 100%;                           
                            
                            }
                            &__p{
                            @include ellipsis;                                
                            }

                        }
                        &__end{
                            display: flex;
                            justify-content: space-between;
                            width: $end--width;
                        
                            position: absolute;
                            right: 0px;
                            height: 100%;
                        
                            animation: translate-right 0.8*$trans-menu-time 0s ease-in-out  forwards; 
                            

                         //   border:1px solid yellow;
                            &__price{
                                font-weight: 900;
                                @include right-spacing-marginH;
                                display: flex;
                                align-items: center;
                                
                              
                            }

                            &__icon{
                              
                                display: flex;
                                background: $colour-tertiary;
                                color: $colour-white;
                                align-items: center;
                                justify-content: center;
                                width: $article--height;
                             
                                font-size: 2rem;
                                border-radius: 0px $vignradius*0.5 $vignradius*0.5 0px;                                
                                
                            }
                        }    
                    }    
                }
            }
        }

    }




