.header {

display: flex;
width: auto;
flex-flow: column nowrap;
align-items: center;
justify-content: center;
text-align: center;
padding: 0px;
margin:0px;



    @include tablet{      
        :nth-child(1){ order: 2;} /*logo*/
        :nth-child(2){ order: 1;} /*location*/
        :nth-child(3){ order: 3;} /*accroche */
        :nth-child(4){ order: 4;}/*bouton*/
        flex-flow: row nowrap;
        height: $header-desktop-height;
         
        
        
        position: relative;
        //height: 150px;           
        }
    

    &__h1{
        
      
        width: auto;
        @include tablet{
            transform: scale(2);
            height: auto;
            display: flex;
            justify-content: center;
            margin: 0px;
            width: auto;
           position: absolute;
           top: $marginV;
            /*left: 50%*/
        }
        
        }

    
    

    &__location{
        
        width: 100%;
        flex-direction:row;
        background: darken($color: $colour-background, $amount: 10) ;
        border-top: 2px solid darken($color: $colour-background, $amount: 20); 
        @include tablet{
            flex-flow: column-reverse wrap;
            width: auto;
          //  height: $header-desktop-height;
          height: 100%;
            border: none;
            width: 25%;
        }


            p{
                
                margin-left: 10px;
                @include tablet{
                    font-size: 1.2rem;
                }
            }
            .fas{
                
                font-size: 1.2rem;
                @include tablet{
                    font-size: 2.5rem;
                }

            }
        }


    &__accroche{
        
        width: auto;
        @include top-spacing-marginV;

        @include tablet{
            flex-flow: column-reverse nowrap;
            justify-content: flex-start;
            width: 50%;
            height: 100%;
           margin: 0px;
           padding: 0px;
            
            
        }
        
        
        h2{
           
        margin:0px 40px 0px 40px;
        @include tablet{
            margin:0px 0px $marginH 0px;
        }
        }
        p{            
            margin:0px 5px 0px 5px;
            @include top-spacing-marginV;
            @include tablet{
                margin:0px 0px $marginH 0px;
            }
            
        } 
    }
/*
    &__btn{
        @include tablet{
            height: $header-desktop-height;
            width: 25%;
            border-radius: 15px;
        }
    }

 */   
}

 