.header {

display: flex;
width: auto;
flex-flow: column nowrap;
align-items: center;
justify-content: center;
text-align: center;
padding: 0px;
margin:0px;

    @include tablet{      
        :nth-child(1){ order: 2;}
        :nth-child(2){ order: 1;}
        :nth-child(3){ order: 4;}
        :nth-child(4){ order: 3;}
        flex-flow: row wrap;
        justify-content: space-between;            
        }
    

    &__h1{
        
      
        width: auto;
        @include tablet{
            transform: scale(2);
        }
        
        }

    
    

    &__location{
        
        width: 100%;
        flex-direction:row;
        background: darken($color: $colour-background, $amount: 10) ;
        border-top: 2px solid darken($color: $colour-background, $amount: 20); 
        @include tablet{
            flex-flow: column-reverse wrap;
            width: 25%;
        }


            p{
                
                margin-left: 10px;
            }
            .fas{
                
                font-size: 1.5rem;

            }
        }


    &__accroche{
        
        width: auto;
        @include top-spacing-marginV;

        @include tablet{
            flex-flow: column-reverse nowrap;
            width: 100%;
        }
        
        
        h2{
           
        margin:0px 40px 0px 40px;
        }
        p{
            
            margin:0px 5px 0px 5px;
            @include top-spacing-marginV;
        } 
    }
}

 