.fonctionnement{
    background: $colour-white;
    padding-bottom: 20px;
    margin: 0px $marginH 0px $marginH;


    &__btncontainer{
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    } 
    
}
    

