.footer{
    background: $colour-footer;
    color: $colour-white;
    display: flex;
    @include tablet{
        justify-content: center;
    }               

    &__content{
        display: flex;
        flex-direction: column;
        margin-left: $marginH;
        justify-content: center;
        margin: $marginV;
        @include tablet{
            margin:0px;
            width: 100%;
        }
            

        &__logo{  
            display: flex;          
            width: auto;
            margin:0px 0px $marginV*0.5 0px;
            @include tablet{
                font-size: 3rem; 
                justify-content: center;
                margin-bottom: $marginV; 
                @include top-spacing-marginV;                          
                }


            
            }
        &__ul{
            display: flex;
            flex-direction: column;
            margin: 0px;
            padding: 0px;            
            @include tablet{
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                @include bottom-spacing-marginV;
                }


            &__li{
                display: flex;
                list-style-type: none;
                margin:0px 0px $marginV*0.5 0px; 
                @include tablet{
                    width: 50%;
                    justify-content: center;
                }             

            }
            
        }    
    
    }
}











    
