main{
    padding: $marginV $marginH $marginV $marginH;
}

.restos{
    display: flex;
width: auto;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }

        & h2{
            display: flex;
            width: 100%;            
        }

        &__vignette{
            height: $vignheight;
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: $vignradius;
            @include shadow;
            @include top-spacing-marginV;
            @include bottom-spacing-marginV;
            @include tablet{            
                margin: 0px 8% 2*$marginV 8%;
               max-width:$vignwidth;
                height: $vignheight;                 
            } 
            
            &__imgcontainer{
                height: 70%;
                position: relative;
                border-radius: $vignradius $vignradius 0px 0px;
                
                &__image{
                    object-fit: cover;
                    width: 100%;
                     height: 100%;
                     border-radius: $vignradius $vignradius 0px 0px;
                
                }

                &__nouveau{                 
                    @include nouveau;
                    position: absolute;
                   right: 5%;
                   top: 15%;
                   &--block{
                    display: block;
                    }
                    &--none{
                    display: none;
                    }                
                }
            }

            &__label{
                height: 30%;
                display: flex;                
                flex-direction: row;
                justify-content: space-between;
                align-items:center;  
                border-radius: 0px 0px $vignradius $vignradius;
                padding: 0px $marginV 0px $marginV; 

               &__txt{
                   display:flex;
                   height: 100%;
                   flex-direction: column;
                   justify-content: center;

                   &__h4{
                    margin:0px 0px 5px 0px;
                    }                   
                  
               }
               &__icon{
                    font-size: 2.2rem;
                    display: flex;            
                    width: auto;
                    height: unset;
                    position: relative;
                    z-index: 1;
                    cursor: pointer;

                    &:hover > &--full{
                    animation: like--full 400ms 0s forwards;  
                    }
                    &:hover > &--empty{
                    animation: like--empty 400ms 0s forwards;                       
                    }

                  &--empty{
                        color: $colour-inactive;
                        opacity: 1;
                        z-index: 1;                                              
                    }

                    &--full{
                        @include lingrad-like;
                        position: absolute;
                        transform-origin: bottom;
                        top:0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;                        
                        opacity: 1;
                        z-index: 2;                        
                        transform: scaleY(0);
                        
                        
                    }
                    

               }
               
            }

        }

}