@charset "UTF-8";
/*Vignettes resto*/
body {
  max-width: 800px;
  background: #fff;
  padding: 0px;
  margin: 0px;
}

.background {
  background: #F2F2F2;
}

/*FONTS*/
@font-face {
  font-family: "Shrikhand";
  src: url("../../polices/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../polices/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto", Arial;
}

a {
  text-decoration: none;
  color: unset;
}

h1, h3 {
  font-family: "Shrikhand", "Roboto", Arial;
}

h3 {
  font-weight: normal;
}

h2 {
  font-weight: bold;
}

/*END FONTS*/
.header {
  display: flex;
  width: auto;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.header__h1 {
  background: #fff;
  width: 100%;
}
.header__location {
  width: 100%;
  flex-direction: row;
  background: #d9d9d9;
  border-top: 2px solid #bfbfbf;
}
.header__location p {
  margin-left: 10px;
}
.header__location .fas {
  font-size: 1.5rem;
}
.header__accroche {
  width: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.header__accroche h2 {
  margin: 0px 40px 0px 40px;
}
.header__accroche p {
  margin: 0px 5px 0px 5px;
  margin-top: 20px;
}

nav {
  background: #fff;
  width: auto;
  padding-bottom: 20px;
  margin: 0px 15px 0px 15px;
}

main {
  padding: 20px 15px 20px 15px;
}

footer {
  padding: 0px 15px 0px 15px;
}

.foot {
  background: #303030;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  color: #fff;
  font-weight: normal;
  padding-bottom: 20px;
  /*
  &__link{
      margin-left: $marginH;
      margin-bottom: 15px;
  }
  */
}

/*
<main class="background">
    <h2>Restaurants</h2>
        <section class="restos">
            <article class="restos__vignette">
                <a href="">
                        <img src="images\restaurants\jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="La palette du goût" class=restos__vignette__image>
                        <div class="restos__vignette__nouveau restos__vignette__nouveau--1">Nouveau                            
                        </div>                        
                        <div class="restos__vignette__label">
                            <div class="restos__vignette__label__txt">
                                <div class="restos__vignette__label__txt__name">Ménilmontant</div>
                                <div class="restos__vignette__label__txt__location">Ménilmontant</div>
                            </div>                            
                        </div>                            
                            <div class="restos__vignette__label__icon">
                                <div class="restos__vignette__label__icon--empty">
                                <i class="far fa-heart"></i>
                                </div>
                                <div class="restos__vignette__label__icon--full">
                                <i class="fas fa-heart"></i>
                            </div>  
                        </div>

                        </div>

                    </div>
                </a>
            </article>                

        </section>
</main>
*/
.restos__vignette a {
  width: auto;
  height: inherit;
  margin: 0px;
}

.restos {
  display: flex;
  width: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.restos__vignette {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 2px 2px 10px -2px #303030;
  border-radius: 30px;
  max-height: 250px;
  max-width: 350px;
}
.restos__vignette__nouveau {
  background: #99E2D0;
  color: #4acbab;
  padding: 7px;
  display: block;
  width: max-content;
  font-weight: 900;
  position: absolute;
  right: 15%;
  top: 15%;
}
.restos__vignette__image {
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 50%;
  border-radius: 30px 30px 0px 0px;
}
.restos__vignette__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  height: 25%;
}
.restos__vignette__label__txt {
  margin: 0px;
  border: olive 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.restos__vignette__label__icon {
  font-size: 2rem;
  display: flex;
  width: auto;
  height: unset;
  border: 1px solid blue;
  position: relative;
  right: 10%;
  top: 10%;
}
.restos__vignette__label__icon--empty {
  color: #CECECE;
  opacity: 0.5;
}
.restos__vignette__label__icon--full {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.5;
}

/*

.vignette{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
width: 100%;
margin: 0px $marginH 15px $marginH;
height: auto;
//border: blanchedalmond 1px solid;
position: relative;
//padding: $vignpadding;
background: $colour-white;
border-radius: $vignradius;
@include shadow;







    &__image{
        will-change: auto;
        display: flex;
        width: 100%;
        height: 100%;    
        max-height: 200px;
        max-width: unset;

        border-radius: $vignradius $vignradius 0px 0px;

    }

    &__txt{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
        height: 10%;    
        width: 100%;
        position: relative;
        padding: 10px;
        border-radius:0px 0px ($vignradius - $vignpadding) ($vignradius - $vignpadding);

        &__nomresto{   
            width: 100%;
            font-weight: bold;
            }


        &__icon{
            font-size: 1.5rem;            
            width: auto;
            height: auto;
            text-align: center;
           position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right:25px;
            top: 15px;  
            border: 1px solid blue;

                &--empty {

                    position: absolute;
                    z-index: 1;
                    opacity: 1; 

                         }  


                &--full {                  
                @include lingrad-like;
                position: absolute; 
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 0;
                opacity:1;



                }






        }


        */
.btn-rond {
  width: auto;
  color: white;
  /*faire fonction noir/blanc*/
  border-radius: 50rem;
  padding: 1rem;
  margin-top: 20px;
}

.lingrad1 {
  background: linear-gradient(#FF79DA, #9356DC);
}

.btn-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin: 10px 50px 20px 50px;
  font-size: 0.9rem;
  padding: 20px 0px 20px 0px;
  border-radius: 20px;
  background: #F2F2F2;
  position: relative;
  box-shadow: 2px 2px 10px -2px #303030;
}
.btn-nav__puce {
  width: auto;
  color: white;
  /*faire fonction noir/blanc*/
  border-radius: 50rem;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -13px;
  margin: 0px;
  background: #9356DC;
  /*voir mixin puce plus bas*/
}
.btn-nav__icon {
  color: #CECECE;
  font-size: 1.5rem;
  margin: 0px 0px 0px 25px;
}
.btn-nav__txt {
  margin-left: 20px;
}
.btn-nav:active {
  background: #e4d5f6;
}
.btn-nav:active :nth-child(2) {
  color: #9356DC;
}
.btn-nav:active :nth-child(3) {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
