html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}







body{   
    background: $colour-white;    
    min-width: 385px;
    
    
    
    
}

.background{
    background: $colour-background;

  /*  @include tablet{
     @include lingrad1;
       color: white;*/
    
}