/*Couleurs*/
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #F2F2F2;
$colour-inactive: #CECECE;
$colour-footer: #303030;
$colour-white: #fff;
$colour-black:#000000;
$colour-font:#000000;

/*Degradés*/
$lingrad1:linear-gradient($colour-secondary,$colour-primary);
$ligth :3;      
$lingrad1-light:linear-gradient(lighten($color: $colour-secondary, $amount: $ligth),lighten($color: $colour-primary, $amount: $ligth)); 
$lingrad-like:linear-gradient($colour-primary,$colour-secondary);

/*valeurs de marges les plus utilisées*/
$marginH: 15px;
$marginV:20px;
$margindefault: $marginV $marginH $marginV $marginH;

/*Vignettes resto*/

$vignwidth: 350px;
$vignheight: 250px;

$vignradius: 30px;
$vignpadding:5px;

/*Dimensions puces*/
$puceDims: 25px;

/*tailles incones footer*/
$footer-icon-dims: 15px;

/*hauteur header desktop*/
$header-desktop-height: 170px;

/*variables animation*/
$spin-time: 3s;
$trans-menu-time:500ms;
$loading-delay: 0.2s;


/*MENUS*/
$imgheight: 300px;
$radiusH1: 30px;
$traitlenght: 50px;
$article--height: 70px;
$article--scaleY:1.5;
$end--width: 120px;





