/*Couleurs*/
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #F2F2F2;
$colour-inactive: #CECECE;
$colour-footer: #303030;
$colour-white: #fff;
$colour-black:#000000;
$colour-font:#000000;

/*Degradés*/
$lingrad1:linear-gradient($colour-secondary,$colour-primary);
$ligth :3;      
$lingrad1-light:linear-gradient(lighten($color: $colour-secondary, $amount: $ligth),lighten($color: $colour-primary, $amount: $ligth)); 
$lingrad-like:linear-gradient($colour-primary,$colour-secondary);

/*valeurs de marge les plus uitlisées*/
$marginH: 15px;
$marginV:20px;

/*Vignettes resto*/

$vignwidth: 350px;
$vignheight: 250px;

$vignradius: 30px;
$vignpadding:5px;

/*tailles incones footer*/
$footer-icon-dims: 15px;

/*hauteur header desktop*/
$header-desktop-height: 170px;

/*variables animation*/
$spin-time: 3s;



