.btn{
    cursor: pointer;
    @include shadow;    
    
}
.btn-gros{
    @include btn-rond;
    @include mobile{   
    padding: 1rem;
    @include top-spacing-marginV;
    @include bottom-spacing-marginV;
        }
    @include tablet{
        text-align: center;
        height: auto;
        width: 25%;       
        border-radius: 5px;
        font-size: 1.5rem;
        padding: 5px;
        padding: 40px 0px 40px 0px  ;
        margin-right: $marginH;
        }
    } 
    


.lingrad1{
    @include lingrad1;
}

.btn-fonctionnement{
   @include btn-fonctionnement;    
}