@keyframes like--empty{
    0%{
        opacity: 1;
        
    }

    20%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}


@keyframes like--full{
    0%{
        transform: scaleY(0);
       transform-origin: bottom;
        opacity: 0;
    }

    100%{
        transform: scaleY(1);
        
    }
}


@keyframes spinner--index {
    0%{
        z-index: 10;
    
    }    

    100%{
        z-index: -10;
    }
}


@keyframes spinner--background{
    0%{
        
        opacity: 1;        
    }

    80%{
        opacity: 0.9;
    }    

    100%{
        
        opacity: 0;         
               
    }


}

@keyframes spinner--rotation{
    from{
        transform: rotate(0deg);
    }   

    to{
        
        transform: rotate(360deg);
                        
    }

}

@keyframes spinner--fade{
    0%{
        
        opacity: 1;
    }

    99%{
        opacity: 1;
    }   

    100%{
        
        opacity: 0; 
               
    }


}

@keyframes translate-left{
    From{
        transform: translateX($article--height);
    }

    To{
        transform: translateX(0);
    }
}

@keyframes translate-left2{
    From{
        transform: translateX(0); 
    }

    To{
        transform:translateX(-1*$article--height);
    }
}




@keyframes translate-right{
    From{
        transform: translateX(0); 
    }

    To{
        transform:translateX($article--height);
    }
}

@keyframes narrow-txt{
    From{
        width: calc(100% - 70px);
        
    }

    To{
        width: calc(100% - 120px);
    }
}

@keyframes widen-txt{
    From{
        width: calc(100% - 120px);
        
    }

    To{
        width: calc(100% - 70px);
    }
}