
.restos__vignette a{
    display: flex;
    flex-direction: column;
    width: $vignwidth;
    height: $vignheight;
    border-radius: $vignradius;
}

.restos{
display: flex;
width: auto;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    &__vignette{
        display: flex; 
        z-index: 0;
         position: relative;
        flex-direction: column; 
        align-items: center;
        justify-content: flex-start;
        z-index: 0;  
        @include shadow;  
        border-radius: $vignradius;
       min-width: $vignwidth; 
        margin: 0px 0px 2*$marginV 0px;  
            @include tablet{                
                margin: 0px 5% 2*$marginV 5%;
            }     

            

            &__imgcontainer{
                display: flex;
                align-items: center;
                justify-content: center; 
                width: 100%;
                height: 75%;
                border-radius: $vignradius;
                position: relative;
                

                &__nouveau{
                    @include nouveau;
                    position: absolute;
                    right: 5%;
                    top: 15%;
                    &--0{
                        display: none;
                    }                
                }
                
                
                
                &__image{
                    display: flex;
                    object-fit: cover;
                    width: auto;                    
                    width: 100%;
                     height: 100%;
                border-radius: $vignradius $vignradius 0px 0px;
                }
            
            }

            &__label{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
               height: 25%;
               margin: 0px $marginV 0px $marginH;
               

                &__txt{
                    margin: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%; 
                    margin-left: $marginH;       


                    

                }

                &__icon{
                    font-size: 2.2rem;
                    display: flex;            
                    width: auto;
                    height: unset;
                    position: relative;
                    z-index: 1;
                   
                   &:active > &--full{
                       animation-play-state: running;
                       animation-fill-mode: forwards;
                      
                   }

                    &:active > &--empty{
                        animation-play-state: running;
                       
                     }

                    &--empty{
                        color: $colour-inactive;
                        opacity: 1;
                       // z-index: 0;
                        animation: like--empty 2000ms 0s paused forwards;
                       
                         
                    }
                    &--full{
                       //display: none;
                        @include lingrad-like;
                        position: absolute;
                        top:0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;                        
                        opacity: 0;
                        z-index: 1;                        
                        transform: scaleY(0);
                        animation-name: like--full;
                        animation-duration:  2000ms;                                               
                       animation-play-state: paused;
                        animation-fill-mode: forwards;
                        
                    }

                       
                    }

                }
            }
        

    }