.restos{
    display: flex;
width: auto;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }

        & h2{
            display: flex;
            width: 100%;            
        }

        &__vignette{
            width:$vignwidth;
            height: $vignheight;
            display: flex;
            flex-direction: column;
            border-radius: $vignradius;
            @include shadow;
            @include top-spacing-marginV;
            @include bottom-spacing-marginV;

            @include tablet{                
                margin: 0px 10% 2*$marginV 10%;
            } 
            
            &__imgcontainer{
                height: 70%;
                position: relative;
                border-radius: $vignradius $vignradius 0px 0px;
                
                &__image{
                    object-fit: cover;
                    width: 100%;
                     height: 100%;
                     border-radius: $vignradius $vignradius 0px 0px;
                
                }

                &__nouveau{
                    display: block;
                    @include nouveau;
                    position: absolute;
                   right: 5%;
                   top: 15%;
                    &--none{
                        display: none;
                    }                
                }
            }

            &__label{
                height: 30%;
                display: flex;                
                flex-direction: row;
                justify-content: space-between;
                align-items:center;
                border-radius: 0px 0px $vignradius $vignradius;
                padding: 0px $marginV 0px $marginV; 

               &__txt{
                   display:flex;
                   height: 100%;
                   flex-direction: column;
                   justify-content: center;

                   &__name{
                    margin-bottom: 5px;
                    }                   
                  
               }
               &__icon{
                    font-size: 2.2rem;
                    display: flex;            
                    width: auto;
                    height: unset;
                    position: relative;
                    z-index: 1;
                    cursor: pointer;

                    &:active > &--full{
                    animation-play-state: running;
                    animation-fill-mode: forwards;                       
                    }
                    &:active > &--empty{
                    animation-play-state: running;
                    animation-fill-mode: forwards;                       
                    }

                  &--empty{
                        color: $colour-inactive;
                        opacity: 1;
                        z-index: 0;
                        animation: like--empty 400ms 0s paused forwards;                         
                    }

                    &--full{
                        @include lingrad-like;
                        position: absolute;
                        transform-origin: bottom;
                        top:0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;                        
                        opacity: 1;
                        z-index: 1;                        
                        transform: scaleY(0);
                        animation-name: like--full;
                        animation-duration:  400ms;                                               
                        animation-play-state: paused;
                        animation-fill-mode: forwards;
                        
                    }
                    

               }
               
            }

        }

}